apiVersion: v1
kind: Secret
metadata:
  name: minienv-probot-secret
type: Opaque
data:
  privateKey: "BASE64ENCODED: cat PATH_TO_PK.pem | base64"
  webhookSecret: "BASE64ENCODED: echo -n 'YOUR_SECRET' | base64"