apiVersion: v1
kind: Secret
metadata:
  name: minienv-probot-secret
type: Opaque
data:
  appId: "BASE64ENCODED: echo -n 'YOUR_APP_ID' | base64"
  privateKey: "BASE64ENCODED: cat PATH_TO_PK.pem | base64"
  webhookSecret: "BASE64ENCODED: echo -n 'YOUR_SECRET' | base64"
  webhookProxyUrl: "BASE64ENCODED: echo -n 'YOUR_WEBHOOK_PROXY_URL' | base64"