apiVersion: v1
kind: Secret
metadata:
  name: minienv-api-secret
type: Opaque
data:
  githubClientId: "BASE64ENCODED: echo -n 'YOUR_CLIENT_ID' | base64"
  githubClientSecret: "BASE64ENCODED: echo -n 'YOUR_CLIENT_SECRET' | base64"